.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #2d3540;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.logo {
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.headerMenu {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-right: 50px;
}

.headerMenuItem {
    padding: 20px;
}