.App {
  height: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: greenyellow;
}

.content {
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: white;
}